$table-width: 80vw;
$table-height: 50vh;
$card-width: 1.6vw;
$card-height: 2.35vw;

$game-background: #77767b;
$game-background-light: #89888d;
$game-background-dark: #656469;
$table-color: #006200;
$table-color-dark: #005100;
$banker-color: #9d0000;
$player-color: #0000ae;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1280px;

@mixin mobile {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

body {
	margin: 0;
	user-select: none;
}

#game_container {
	min-height: 100vh;
	width: 100vw;
	background-color: $game-background;
	padding: 2rem 4rem;
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
	.d-none {
		display: none !important;
	}
	
}
