@import './App.scss';

#table_container {
	width: $table-width;
	margin: 1rem auto;
	span {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	.won_effect {
		animation: won_effect 1s linear infinite;
		@keyframes won_effect {
			50% {
				background-color: rgba(255, 255, 0, 0.541);
			}
		}
	}
	#player_slot_container {
		position: relative;
		width: calc($table-width);
		height: calc($table-width / 3);
		#outner_trim {
			position: absolute;
			width: calc($table-width * 2 / 3);
			height: calc($table-width * 2 / 3);
			transform: translate(-50%, -50%);
			left: 50%;
			top: 0%;
			border-radius: 50%;
			border: $table-color-dark 3.5vw solid;
			pointer-events: none;
			&::before {
				content: '';
				position: absolute;
				width: 53.3333333333vw;
				height: 26.6666666667vw;
				transform: translate(-50%, 0%);
				left: 50%;
				background-color: $table-color-dark;
				top: 0%;
				border-top-left-radius: 50%;
				border-top-right-radius: 50%;
			}
		}
		#inner_trim {
			position: absolute;
			width: calc($table-width / 3);
			height: calc($table-width / 3);
			transform: translate(-50%, -50%);
			left: 50%;
			top: 0%;
			border-radius: 50%;
			background-color: $table-color-dark;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			#show_time {
				position: absolute;
				transform: translate(-50%, -50%);
				left: 50%;
				top: 50%;
				width: 100%;
				height: 100%;
				background-color: rgba(255, 255, 255, 0.397);
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 1;
				span {
					margin-top: 2vw;
					font-size: 5vw;
					color: white;
				}
			}
			#card_table_container {
				width: calc($table-width / 3);
				height: calc($table-width / 6);
				padding: 0 2vw;
				pointer-events: none;
				#side_text {
					display: flex;
					justify-content: space-around;
					width: 100%;
					span {
						font-family: Verdana, Geneva, Tahoma, sans-serif;
						font-size: 2.2vw;
						&:nth-child(1) {
							color: $player-color;
						}
						&:nth-child(2) {
							color: $banker-color;
						}
					}
				}
				#card_container {
					width: 100%;
					min-height: 20%;
					position: relative;
					.card {
						width: 1.8vw;
						position: absolute;
						border-radius: 5px;
						overflow: hidden;
						img {
							width: 100%;
						}
						.card_flip {
							transform-style: preserve-3d;
							position: relative;
							width: 100%;
							height: 50px;
							@keyframes flip {
								100% {
									transform: rotateY(180deg);
								}
							}
							.back {
								position: absolute;
								backface-visibility: hidden;
								-webkit-backface-visibility: hidden;
							}
							.front {
								position: absolute;
								backface-visibility: hidden;
								-webkit-backface-visibility: hidden;
								transform: rotateY(180deg);
								z-index: 1;
							}
						}
						&.player_card,
						&.banker_card {
							top: 180%;
							left: 45%;
						}
					}
				}
				#result {
					position: absolute;
					transform: translate(-50%, -50%);
					top: 80%;
					left: 50%;
					padding: 0.5vw 1vw;
					z-index: 1;
					text-align: center;
					display: none;
					border: yellow solid 3px;
					@include tablet {
						top: 90%;
					}
					span {
						color: white;
						font-weight: bold;
						letter-spacing: 2px;
						font-size: 1vw;
					}
					&.tie {
						background-color: $table-color;
					}
					&.playerWin {
						background-color: $player-color;
					}
					&.bankerWin {
						background-color: $banker-color;
					}
				}
			}
		}
		#choose_slot_container {
			position: relative;
			.choose_slot {
				height: calc($table-width / 2.35);
				position: absolute;
				transform-origin: top;
				left: 50%;
				top: 0%;
				&:nth-child(1) {
					transform: translate(-50%, 0) rotate(72deg);
				}
				&:nth-child(2) {
					transform: translate(-50%, 0) rotate(36deg);
				}
				&:nth-child(3) {
					transform: translate(-50%, 0) rotate(0deg);
				}
				&:nth-child(4) {
					transform: translate(-50%, 0) rotate(-36deg);
				}
				&:nth-child(5) {
					transform: translate(-50%, 0) rotate(-72deg);
				}
				div {
					position: absolute;
					bottom: 0;
					transform: translate(-50%, 0);
					border-radius: 50%;
					cursor: pointer;
					overflow: hidden;
					&:active i {
						transform: scale(1.1);
					}
					i {
						font-size: 2vw;
						color: white;
						width: 2.2vw;
						height: 2.2vw;
						background-color: rgba(255, 255, 255, 0.493);
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}
		.player_slot {
			position: absolute;
			width: calc($table-width/4.66);
			height: calc($table-width / 3);
			background-color: $table-color;
			clip-path: polygon(0 100%, 100% 100%, 50% 0);
			transform-origin: top;
			left: 50%;
			top: 0%;
			.bet_chips {
				position: absolute;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
				width: 2vw;
				height: 2vw;
				img {
					width: 100%;
				}
				span {
					position: absolute;
					transform: translate(-50%, -50%);
					top: 50%;
					left: 50%;
					font-size: 2vw;
					color: white;
				}
			}

			&.active {
				background-color: #018801;
			}
			&:nth-child(1) {
				transform: translate(-50%, 0) rotate(72deg);
			}
			&:nth-child(2) {
				transform: translate(-50%, 0) rotate(36deg);
			}
			&:nth-child(3) {
				transform: translate(-50%, 0) rotate(0deg);
			}
			&:nth-child(4) {
				transform: translate(-50%, 0) rotate(-36deg);
			}
			&:nth-child(5) {
				transform: translate(-50%, 0) rotate(-72deg);
			}
			.play_container {
				position: absolute;
				transform: translate(-50%, 0);
				height: 50%;
				width: 100%;
				bottom: 0;
				left: 50%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				.onActive:active {
					transform: translate(2px, 2px);
				}
				.play_bonus {
					height: 25%;
					width: 57%;
					display: flex;
					justify-content: space-around;
					align-items: center;
					padding-bottom: 5px;
					border-radius: 30%;
					border-bottom: rgba(255, 255, 255, 0.096) solid 1px;
					span {
						font-size: 0.89vw;
						color: white;
					}
					.pair {
						border-radius: 50%;
						width: 2.5vw;
						height: 2.5vw;
						display: flex;
						justify-content: space-around;
						align-items: center;
						position: relative;
						cursor: pointer;
						&.player_pair {
							background-color: $player-color;
						}
						&.banker_pair {
							background-color: $banker-color;
						}
					}
					.tie {
						padding: 0.5vw 0.6vw;
						border: rgba(255, 255, 255, 0.562) solid 1px;
						border-radius: 5px;
						cursor: pointer;
						position: relative;
					}
				}
				.play_banker,
				.play_player {
					height: 35%;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					cursor: pointer;
					span {
						font-size: 1.2vw;
					}
				}
				.play_banker {
					width: 85%;
					border-bottom: rgba(255, 255, 255, 0.096) solid 1px;
					color: $banker-color;
				}
				.play_player {
					width: 100%;
					color: $player-color;
				}
			}
		}
	}
}
